body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #FCF6EF;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    margin-block-start: 16px;
    margin-block-end: 0;
}

nav {
    display: flex;
    align-items: center;
    min-height: 30px;
    justify-content: space-between;
    padding: 16px 64px;
    background-color: #fb6c6c;
    color: white;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
    margin-right: 8px;
}

a {
    color: white;
    text-decoration: none;
}

.searchbar {
    border: 0;
    border-radius: 8px;
    outline: 0;
    padding: 8px 12px;
}

.d-none {
    display: none !important;
}

.pokedex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 48px;
}

.pokemon-overview-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #fb6c6c;
}

.pokemon-overview-card:hover {
    cursor: pointer;
    background-color: #fb6c6c76;
    border: 1px solid #be2e2e;
}

.pokemon-overview-card img {
    height: 240px;
}

.load-more-container {
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-more-btn {
    padding: 12px 32px;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #fb6c6c;
    cursor: pointer;
}

.load-more-btn:hover {
    background-color: #f45555;
}

.type-ctn {
    display: flex;
    align-items: center;
}

.type {
    display: block;
    padding: 2px 12px;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: bold;
    margin-left: 4px;
    margin-right: 4px;
}

.details-ctn  {
    position: fixed;
    top: 64.72px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FCF6EF;
    display: flex;
    justify-content: center;
    
}

.details {
    background-color: white;
    height: calc(100vh - 64.72px);
    padding: 0 64px;
    display: flex;
    flex-direction: column;
}

.details-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-child img {
    height: 376px;
    margin-right: 48px;
}

.position-fixed {
    position: fixed;
    left: 0;
    right: 0;
}



/*Pokemon Types background colors*/

.normal {
    background-color: #B5B5B5;
    color: white;
}

.fire {
    background-color: #EE3C24;
    color: white;
}

.water {
    background-color: #4D89E3;
    color: white;
}

.grass {
    background-color: #3FAE28;
    color: white;
}

.electric {
    background-color: #F8C323;
    color: white;
}

.ice {
    background-color: #36BCD8;
    color: white;
}

.fighting {
    background-color: #A74D32;
    color: white;
}

.poison {
    background-color: #B55AA5;
    color: white;
}

.ground {
    background-color: #C7A649;
    color: white;
}

.flying {
    background-color: #70B9D8;
    color: white;
}

.psychic {
    background-color: #F2679E;
    color: white;
}

.bug {
    background-color: #B2B02D;
    color: white;
}

.rock {
    background-color: #C3AC5F;
    color: white;
}

.ghost {
    background-color: #6566BC;
    color: white;    
}

.dark {
    background-color: #735A4A;
    color: white;
}

.dragon {
    background-color: #6047F8;
    color: white;
}

.steel {
    background-color: #A8A5AC;
    color: white;
}

.fairy {
    background-color: #E6A5E6;
    color: white;
}